@import "vars";
@import "dialogComponentStyle";
@import "forecastComponentStyle";
@import "animations";
@import "weatherComponentStyle";
@import "autoCompleteComponentStyle";
@import "routeComponentStyle";

body {
  overflow-y: hidden;
  margin: 0;
  background-color: #ebebeb;
}

a {
  text-decoration: none;
  color: white;
}