body {
  margin-top: 0;
  margin-left: 0;
  background-color: #ebebeb;
}

a {
  text-decoration: none;
  color: white;
}

.inputer {
  margin-top: 50px;
  position: fixed;
  animation: showInput;
  animation-duration: 1s;

  &_input {
    font-size: 24px;
    width: 200px;
    height: 24px;
  }

  &_input:focus {
    box-shadow: 0 0 10px rgb(0, 0, 255);
    border-bottom-color: white;
  }

  &_input::placeholder {
    color: white;
  }

}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showInput {
  from {
    left: -200px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.dialog-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9999;

  &_window {
    margin-left: auto;
    margin-right: auto;
    margin-top: @alertSize;
    height: @alertSize - 50px;
    width: @alertSize;
    background-color: white;
    border-radius: 9px;
  }

  &_image {
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-image: url("resources/alert.png");
    background-size: contain;
  }

  &_message {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.switcher-container {
  width: 100%;
  height: @buttonHeight;
  position: fixed;

  &_box {
    z-index: 9999;
    width: 100%;
    height: @buttonHeight;
    overflow: hidden;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background-color: #3f51b5;

    &_button {
      display: inline-block;
      padding: 10px 10px 10px 10px;
      flex: auto;
      color: white;
      height: @buttonHeight;
      font-size: 23px;
      justify-content: center;
      text-align: center;

      &_text {
        width: auto;
      }

      &_search {

        &_image{
          width: 20px;
          height: 20px;
        }
      }

      &:hover {
        background-color: darken(@mainColor, 2%);
        cursor: pointer;
        user-select: none;
      }
    }
  }
}

.Clear {
  background-image: url('resources/clear.png');
}

.Rain {
  background-image: url('resources/rain.png');
}

.Drizzle {
  background-image: url('resources/drizzle.png');
}

.Clouds {
  background-image: url('resources/clouds.png');
}

.Mist {
  background-image: url('resources/mist.png');
}

.forecast-container {
  display: inline-flex;
  width: auto;
  margin-left: 10px;
  margin-top: 30px;
  height: 180px;
  background-color: white;
  font-family: Solis, Arial, Helvetica, sans-serif;
  animation: appear;
  animation-duration: 1s;

  &_conditions {
    display: inline-flex;
    width: auto;
    border-right: 2px solid gainsboro;
    height: 100%;

    &_content {
      padding: 16px;
    }

    &_panel {
      margin-top: 10px;
    }
  }

  &_details {
    display: inline-flex;
    width: auto;
    height: 100%;

    &_content {
      padding: 16px;
    }

    &_wind {
      margin-top: 5px;
    }

    &_humidity {
      margin-top: 5px;
    }

    &_pressure {
      margin-top: 5px;
    }
  }


  &_title {
    position: absolute;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
  }

  &_temperature {
    font-size: 30px;
    display: inline-block;
  }

  &_image {
    width: 64px;
    height: 64px;
    background-size: contain;
    display: inline-block;
  }
}

.content {
  position: relative;
  top: 80px;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
