@import "vars";

body {
  margin-top: 0;
  margin-left: 0;
  background-color: #ebebeb;
}

a {
  text-decoration: none;
  color: white;
}

.router-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
