.content {
  margin-top: @defaultSize;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: 1s;
  width: auto;

  &_margined {
    margin-left: 300px;
  }
}

.weatherComponent {
  width: calc(100% - 145px);
  justify-content: center;
  display: flex;
}