<div class="switcher-container">
    <div class='switcher-container_box'>
        <span class='switcher-container_box_button'>
            <a href="#!/">
                <span class="switcher-container_box_button_text">Forecasts</span>
            </a>
        </span>
        <span class='switcher-container_box_button'>
            <span class="switcher-container_box_button_text">
                <a href="#!/starred">Favourite</a>
            </span>
        </span>
        <span class='switcher-container_box_button'>
            <span class="switcher-container_box_button_text" ng-click="routeCtrl.searchShow()">
                Search
            </span>
        </span>
    </div>
</div>
<auto-complete-component ng-if="routeCtrl.isSearchShown" cities-names="weatherCtrl.citiesNames" city-name="weatherCtrl.searchParameter" class="inputer"></auto-complete-component>
