<div class="switcher-container">
    <div class='switcher-container_box'>
        <span class='switcher-container_box_button'>
            <a href="#!/">
                <span class="switcher-container_box_button_text">Forecasts</span>
            </a>
        </span>
        <span class='switcher-container_box_button'>
            <span class="switcher-container_box_button_text">
                <a href="#!/starred">Favourite</a>
            </span>
        </span>
        <auto-complete-component class="inputer" city-name="weatherCtrl.searchParameter" cities-names="weatherCtrl.citiesNames"></auto-complete-component>
    </div>
</div>
