<div class="switcher-container">
    <div class='switcher-container_box'>
        <div class='switcher-container_box_button'>
            <a href="/"><div class="switcher-container_box_button_text">Forecasts</div></a>
        </div>
        <div class='switcher-container_box_button'>
            <div class="switcher-container_box_button_text"><a href="/starred">Favourite</a></div>
        </div>
        <div class='switcher-container_box_button'>
            <div class="switcher-container_box_button_text"><a href="/settings">Settings</a></div>
        </div>
    </div>
</div>
